header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
/*hover captura eventos del mouse y cambiar el color del elemento */
color: #c78c19;
text-decoration: underline;
}
.cuerpo{
    margin: 0 auto;
}

.productos{
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
   /* background-color: #cccccc; DA COLOR AL BORDE*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /*border-color: #000000;
    border-width: 2px;
    border-style: solid;*/
    border: 2px solid #000000;
   /* border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/

    border-radius: 10px 10px 10px 10px;
}

.productos li:hover{
    /*HOVER captura el moviemnto del mouse*/
    border-color: rgb(145, 255, 0);
   
}

.productos li:hover h2{
/*aplica al h2, cuando el mouse pase por encima del texto o recuadro aplica el cambio de fuente  */
font-size: 33px;
}

.productos li:active{
    /*HOVER captura el moviemnto del mouse*/
    border-color: rgb(255, 153, 0);
}

.productos h2{
    font-weight: bold;
    font-size: 30px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    /*primera cosa es centralizar los elementos
    background ocupa todo el espacio*/
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;

}
.copyrigth{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}